<div class="card">
  <div class="card-content">
    <h3 class="title is-5">
      <%= @user.name %>
      <%= session[:current_user_id] %>
    </h3>
  </div>
</div>
<div class = "card">
  <div class = "card-content">
  <strong>Created Events: </strong>
    <%= show_event_info(@event) %>
  </div>
</div>
<div class = "card">
  <div class = "card-content">
    <ul>
    <strong>Events: </strong>
    <%@attended_events.each do |event|%>
      <br><%= event.event_date%>
      <br><%= event.location%>
    <% end %>
     
    </ul>
  </div>
</div>
