<div class="card">
  <div class="card-content">
    <h3 class="title is-5">
      <%= @user.name %>
      <%= session[:current_user_id] %>
    </h3>
  </div>
</div>
<div class = "card">
  <div class = "card-content">
    <%= show_event_info(@event) %>
  </div>
</div>
<div class = "card">
  <div class = "card-content">
    <ul>
      <% @event.each  do |e|%>
        <li><strong>Event Date: </strong><%= e.event_date %> </li>
        <li><strong>Location: </strong><%= e.location %> </li>
        <br>
      <% end %>
    </ul>
  </div>
</div>
