<!DOCTYPE html>
<html>
  <head>
    <title>Private Events</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <nav class = "navbar is-black">
      <div class = "navbar-brand">
        <div class = "navbar-item">
          <%= link_to root_path do %>
            <h1 class = "title is-4 title_color">Private Events</h1>
          <% end %>
        </div>
      </div>
      <div class= "navbar-item username title_color">
          <strong class ="has-text-white title is-5"><%= session[:username] %></strong>
        </div>
        <div class= "navbar-end">
          <% if !signedin? %>
          <div class = "navbar-item">
            <%= link_to 'New User', new_user_path, class: 'button is-primary'%>
          </div>
          <div class = "navbar-item">
            <%= link_to 'Log in', sessions_log_in_path, class: 'button is-primary'%>
          </div>
          <% else %>
            <div class = "navbar-item">
              <%= link_to 'Create Event', new_event_path, class: 'button is-primary'%>
            </div>
            <div class= "navbar-item">
              <%= link_to 'Logout', sessions_destroy_path, class: 'button is-danger'%>
            </div>
          <%end%>
        </div>   
      </nav>

    <nav class = "navbar nav-h is-info">
        <div class= "navbar-end">
          <% if signedin? %>
          <div class = "navbar-item">
            <%= link_to 'Events', user_path(session[:user_id]), class: 'button is-small is-primary'%>
          </div>
          <%end%>
        </div>   
      </nav>
    <%= yield %>
  </body>
</html>
