<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <nav class = "navbar is-black">
      <div class = "navbar-brand">
        <div class = "navbar-item">
          <%= link_to root_path do %>
            <h1 class = "title is-5 title_color">PRIVATE EVENTS</h1>
          <% end %>
        </div>
      </div>
      <div class= "navbar-item username title_color">
          <%= session[:username] %>
        </div>
        <div class= "navbar-end">
          <div class = "navbar-item">
            <%= link_to 'New User', new_user_path, class: 'button is-primary'%>
          </div>
          <div class= "navbar-item">
            <%= link_to 'Logout', sessions_destroy_path, class: 'button is-danger'%>
          </div>
        </div>
          <div class = "navbar-item">
            <%= link_to 'Log in', sessions_log_in_path, class: 'button is-primary'%>
          </div>
      </nav>
    
    <%= yield %>
  </body>
</html>
